@model FootwearShop.Models.Activity

@{
    ViewBag.Title = "Удалить действие";
}

<h2>Удалить действие</h2>

<h3>Вы уверены что хотите удалить запись?</h3>
<div>
    <h4>Действие с товаром</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.Name, "Название действия")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
