@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Аккаунт заблокирован.</h1>
    <h2 class="text-danger">Данный аккаунт был заблокирован, попробуйте повторить действие позднее.</h2>
</hgroup>
